[load_cell_probe]
sensor_type: cs1237
sclk_pin: THR:PB3
dout_pin: THR:PB4
# lower sample rate and speed, otherwise i get bad probe errors during meshing
sample_rate: 640
speed: 2
gain: 128
z_offset: 0
trigger_force: 75
bad_probe_strategy: circle
bad_probe_retries: 12
# TEMPORARY borrowed calibration from another Q2 (same load-cell hardware)
#counts_per_gram: 179.395
#reference_tare_counts: -1113211
force_safety_limit: 0
