[gcode_macro CUT_FILAMENT_1]
gcode:
    {% if "xy" not in printer.toolhead.homed_axes %}
        G28 X Y
    {% endif %}
    M204 S10000
    {% if (printer.gcode_move.position.x) < 15 %}
        G1 X15 F9000
        G1 Y0.5 F9000
    {% endif %}
    G1 Y0.5 F15000
    G1 X15 F15000
    G1 X-0.5 F5000
    G4 P1000
    G1 X1 F1000
    G1 X-0.5 F5000
    G4 P1000
    G1 X1 F1000
    G4 P1000
    G1 X15 F3000
[gcode_macro M603]
description: filament unlode
gcode:
    DISABLE_ALL_SENSOR
    {% set hotendtemp = params.S|default(250)|int %}
    _CG28
    M104 S{hotendtemp}

    MOVE_TO_TRASH
    M109 S{hotendtemp}
    M118 Heat up complete

    G92 E0 
    G1 E-10 F300     #退料10mm

    # QIDI box E_UNLOAD path removed (vendor-only). Direct unload only:
    CUT_FILAMENT_1
    MOVE_TO_TRASH
    G92 E0
    G1 E-60 F300     #退料60mm

    M104 S0

    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000
    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000
    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000
    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
    G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000

    M106 S0
    M400
    M118 Unload finish
[gcode_macro M604]
gcode:
    DISABLE_ALL_SENSOR
    {% set hotendtemp = params.S|default(250)|int %}
    {% set mode = params.T|default(0)|int %}
    {% if mode == 0 %} 
        _CG28
        MOVE_TO_TRASH
    {% endif %}
    # QIDI box E_LOAD path removed (vendor-only). Direct load only.
    {% if mode == 0 %}  #第一次进料
        M104 S{hotendtemp}
        MOVE_TO_TRASH
        M109 S{hotendtemp}
        M118 Heat up complete
        G92 E0
        G1 E80 F400
        M400
    {% elif mode ==1 %}      #重试发送 M=1
        MOVE_TO_TRASH
        M109 S{hotendtemp}
        M118 Heat up complete
        G92 E0
        G1 E80 F400
        M400
    {% endif %}
    M118 Load finish
