[gcode_macro AUTOTUNE_SHAPERS]
variable_autotune_shapers: 'ei'
gcode:
# _HOME_X / _HOME_Y / _HOME_XY / [homing_override] are defined inline in printer.cfg
# (tested load-cell Z homing for Kalico). Removed here to avoid duplicate sections.

[gcode_macro SHAPER_CALIBRATE]
rename_existing: RESHAPER_CALIBRATE
gcode:
    RESHAPER_CALIBRATE FREQ_START=20 FREQ_END=150
[gcode_macro M901]
gcode:
    m104 S0         #共振关闭喷头温度
    G28
    SHAPER_CALIBRATE
    M118 Input shaper complete
    SAVE_CONFIG
