[gcode_macro _OCTOAPP_STATUS]
variable_notify_message: ""
gcode:
[gcode_macro OCTOAPP_NOTIFY_STATUS]
description: Send a notification with a custom message and CPU time
gcode:
    {% set message = params.MESSAGE|default("") %}
    {% set cpu_time = printer["system_stats"].cputime %}
    {% set final_message =  message ~ "~~~" ~ cpu_time %}
    
    SET_GCODE_VARIABLE MACRO=_OCTOAPP_STATUS VARIABLE=notify_message VALUE="'{ final_message }'"
[gcode_macro _SEND_NOTIFICATION]
gcode:
  {% set message = params.MESSAGE|default("Notification from printer.") %}
  
  # Display the message on the printer's screen
  M117 {message}
  
  # Send the push notification via OctoApp
  OCTOAPP_NOTIFY_STATUS MESSAGE="{message}"
