[gcode_macro CLEAR_NOZZLE_PLR]
gcode:
    {% set hotendtemp = params.HOTEND|default(250)|int %}
    G91
    G1 Z{5} F900 
    G90

    MOVE_TO_TRASH

    M109 S{hotendtemp}

    G92 E0
    G1 E80 F400
    M106 S255

    G1 X115 F5000
    G1 X95 F15000
    G1 X115 F5000
    G1 X95 F15000
    G1 X115 F5000
    G1 X95 F15000
    G1 X115 F5000
    G1 X95 F15000
    G1 X125 F15000
[gcode_macro CLEAR_NOZZLE]
gcode:
    {% set hotendtemp = params.HOTEND|default(250)|int %}
    # Z-hop before traveling to the (off-bed) trash/wipe zone so the nozzle doesn't
    # drag across the bed when entered at Z0 (e.g. straight after G28). Mirrors CLEAR_NOZZLE_PLR.
    {% if 'z' in printer.toolhead.homed_axes %}
        G91
        G1 Z5 F900
        G90
    {% endif %}
    MOVE_TO_TRASH
    M400
    M109 S{hotendtemp}
#    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={hotendtemp-20}
    G92 E0
    G1 E5 F80
    G92 E0
    G1 E80 F300
    G92 E0
    G1 E-2 F200
    M400
    M106 S255
    G4 P1000
    M104 S140
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={hotendtemp-30}

    M204 S5000
        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000

        G1 X114 F5000
        G1 X100 F5000
        G1 X114 F5000
        G1 X100 F5000
        G1 X114 F5000
        G1 X100 F5000
        G1 X114 F5000
        G1 X100 F5000
        G1 X114 F5000
        G1 X100 F5000
        G1 X114 F5000
        G1 X100 F5000
        G1 X114 F5000
        G1 X100 F5000

        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000
        G1 X103 F5000
        G1 X90 F5000

    
    G1 X125 F15000
    
    G1 X130 Y280 F6000
    G1 Z-0.2 F600

    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150
    M106 S255
    G2 I0.5 J0.5 F600
    G2 I0.5 J0.5 F600
    G2 I0.5 J0.5 F600
    G1 X140 F200
    G1 Y281 F200
    G1 X130 F200
    G1 Y283 F200
    G1 X140 F200

    G2 I0.5 J0.5 F600
    G2 I0.5 J0.5 F600
    G2 I0.5 J0.5 F600

    G1 Z0.2
    G1 X180 F12000
    G1 Z-1.5
    G1 X164 F12000
    G1 X180 F12000
    G1 X164 F12000
    G1 X180 F12000
    G1 X164 F12000
    G1 X180 F12000
    G1 X164 F12000
    M400
    M118 Nozzle cleared
    G1 Z30 F900
    M106 S0
[gcode_macro SHAKE_OOZE]
gcode:
    MOVE_TO_TRASH
    M204 S2000
    M400
    G4 P500
    G91 
    {% for y in range(1,14) %}
        G1 Y-1 F20000
#        G4 P50
        G1 Y1 F20000
#       G4 P50
    {% endfor %}
    G90
[gcode_macro MOVE_TO_TRASH]
gcode:
#    _CG28
    
    {% if "xy" not in printer.toolhead.homed_axes %}
        G28 X Y
    {% endif %}
    M204 S5000
    {% if (printer.gcode_move.position.y) > 270 %}
        {% if (printer.gcode_move.position.x) > 112 or (printer.gcode_move.position.x) < 85 %}
            G1 Y270 F20000
            G1 X85 F20000
            G1 Y270 F20000
            G1 Y287.5 F3000
        {% endif %}
        G1 X85 F20000
        G1 Y287.5 F3000
    {% else %}
        G1 X85 F20000
        G1 Y260 F20000
        G1 Y287.5 F3000
    {% endif %}
[gcode_macro EXTRUSION_AND_FLUSH]
gcode:
    {% set hotendtemp = params.HOTEND|int %}
    MOVE_TO_TRASH
    M109 S{hotendtemp}
    M83
    {% for i in range(4) %}
        G1 X{85 + i % 2 * 3} F5000
        {% for j in range(1,6) %}
            G1 E9 F300
            G1 E1 F50
        {% endfor %}
    {% endfor %}
    G1 E-1 F1800
    M400
    M106 S255
    M400
    G4 P5000
    CLEAR_OOZE
    CLEAR_FLUSH
    MOVE_TO_TRASH
    M106 S0
