#  Q2


# Add to start gcode:  ORCA_QIDI_BOX T=[initial_tool]
# T0-3 for QIDI BOX slots 1A-1D.  If more boxes are connected,
# additional tools will be written in the same order.
# Any tool number higher than the configured box slots or -1 
# will disable the BOX and use the rack. 

[gcode_macro ORCA_QIDI_BOX] 
gcode: 
    # Grab the inital tool number, save to variable t 
    {% set t = params.get('T') | int %}

    # Check if at least one BOX is connected
    {% if printer.save_variables.variables.box_count >= 1 %}

        # Check if initial tool is external spool (not in BOX)
        {% if t >= printer.save_variables.variables.box_count * 4 or t == -1 %}
            # Disable the BOX and desync any synced slots
            SAVE_VARIABLE VARIABLE=enable_box VALUE=0

        {% else %}
            # If initial tool is in range for BOX, enable the BOX
            SAVE_VARIABLE VARIABLE=enable_box VALUE=1

            # Set tools T0 through T3 to slot0 through slot3
            SAVE_VARIABLE VARIABLE=value_t0 VALUE="'slot0'"
            SAVE_VARIABLE VARIABLE=value_t1 VALUE="'slot1'"
            SAVE_VARIABLE VARIABLE=value_t2 VALUE="'slot2'"
            SAVE_VARIABLE VARIABLE=value_t3 VALUE="'slot3'"

            # If additional BOXes are connected, set those tools too
            {% if printer.save_variables.variables.box_count >= 2 %}
                SAVE_VARIABLE VARIABLE=value_t4 VALUE="'slot4'"
                SAVE_VARIABLE VARIABLE=value_t5 VALUE="'slot5'"
                SAVE_VARIABLE VARIABLE=value_t6 VALUE="'slot6'"
                SAVE_VARIABLE VARIABLE=value_t7 VALUE="'slot7'"
            {% endif %}

            {% if printer.save_variables.variables.box_count >= 3 %}
                SAVE_VARIABLE VARIABLE=value_t8 VALUE="'slot8'"
                SAVE_VARIABLE VARIABLE=value_t9 VALUE="'slot9'"
                SAVE_VARIABLE VARIABLE=value_t10 VALUE="'slot10'"
                SAVE_VARIABLE VARIABLE=value_t11 VALUE="'slot11'"
            {% endif %}

            {% if printer.save_variables.variables.box_count == 4 %}
                SAVE_VARIABLE VARIABLE=value_t12 VALUE="'slot12'"
                SAVE_VARIABLE VARIABLE=value_t13 VALUE="'slot13'"
                SAVE_VARIABLE VARIABLE=value_t14 VALUE="'slot14'"
                SAVE_VARIABLE VARIABLE=value_t15 VALUE="'slot15'"
            {% endif %}
        {% endif %}
    {% else %}
        # If no boxes are connected, disable the BOX
        SAVE_VARIABLE VARIABLE=enable_box VALUE=0
    {% endif %}
