# [gcode_macro CANCEL_PRINT]  # Commented out for Bunny Box - Happy Hare provides this
# rename_existing: BASE_CANCEL_PRINT
# gcode:
#     SET_SKEW CLEAR=1
#     {% if "xyz" in printer.toolhead.homed_axes %}
#         M204 S10000
#         G90
#         {% if (printer.gcode_move.position.z) < 100 %}
#         G1 Z100 F600
#         {% endif %}
#         {% if (printer.gcode_move.position.y) > printer['gcode_macro PRINTER_PARAM'].max_y_position %}
#             G1 Y{printer['gcode_macro PRINTER_PARAM'].max_y_position - 50} F6000
#         {% endif %}
#         G1  X265 Y5 F7800
#     {% endif %}
#     {% if printer.save_variables.variables.box_count >= 1 and printer.save_variables.variables.enable_box == 1 and printer["box_extras"]%}
#         BUFFER_MONITORING ENABLE=0
#     {% endif %}
#     M400
#     save_zoffset
#     SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
#
#     M106 P2 S0
#     M106 P0 S0
#     M106 P3 S0
#
#     M104 S0
#     M140 S0
#     M141 S0
#     DISABLE_BOX_HEATER
#
#     M220 S100
#     M221 S100
#     M84
#
#     DISABLE_ALL_SENSOR
#     SET_GCODE_OFFSET Z=0 MOVE=0
#     BED_MESH_CLEAR
#     G31
#     BEEP I=2 DUR=500
#
#     BASE_CANCEL_PRINT
#     CLEAR_LAST_FILE
#     M118 Canceled print!

# [gcode_macro PAUSE]  # Commented out for Bunny Box - Happy Hare provides this
# rename_existing: BASE_PAUSE
# gcode:
#     # Parameters
#     {% set z = params.Z|default(5)|int %}
#
#     {% if printer['pause_resume'].is_paused|int == 0 %}
#         SET_GCODE_VARIABLE MACRO=RESUME_PRINT VARIABLE=zhop VALUE={z}
#         SET_GCODE_VARIABLE MACRO=RESUME_PRINT VARIABLE=etemp VALUE={printer['extruder'].target}
#         SET_GCODE_VARIABLE MACRO=RESUME_PRINT VARIABLE=efan VALUE={printer["fan_generic cooling_fan"].speed *255}
#         SET_GCODE_VARIABLE MACRO=RESUME_PRINT VARIABLE=echambertemp VALUE={printer['heater_generic chamber'].target}
#
#         DISABLE_ALL_SENSOR
#         {% if printer.save_variables.variables.box_count >= 1 and printer["box_extras"] and printer.save_variables.variables.enable_box == 1 %}
#             BUFFER_MONITORING ENABLE=0
#         {% endif %}
#         SAVE_GCODE_STATE NAME=PAUSE
#         BASE_PAUSE
#         {% if printer.extruder.can_extrude %}
#             G92 E0
#             G1 E-5 F1800
#         {% endif %}
#         {% if "z" in printer.toolhead.homed_axes and (printer.gcode_move.position.z + z ) < printer['gcode_macro PRINTER_PARAM'].max_z_position %}
#             G91
#             G1 Z{z} F900
#         {% else %}
#             SET_GCODE_VARIABLE MACRO=RESUME_PRINT VARIABLE=zhop VALUE=0
#         {% endif %}
#         SAVE_GCODE_STATE NAME=PAUSEPARK
#         {% if "xy"  in printer.toolhead.homed_axes %}
#             G90
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F9000
#             G1 Y{printer['gcode_macro PRINTER_PARAM'].clear_y_position} F9000
#         {% endif %}
#         M104 S0
#         SET_IDLE_TIMEOUT TIMEOUT=259200   #72H
#         SET_STEPPER_ENABLE STEPPER=extruder enable=0
#         {% set slot_sync = printer.save_variables.variables.slot_sync|default("slot-1") %}
#         {% if printer['box_stepper ' ~ slot_sync] %}
#             SET_STEPPER_ENABLE STEPPER='box_stepper '{slot_sync} enable=0
#         {% endif %}
#     {% endif %}

# [gcode_macro RESUME_PRINT]  # Commented out for Bunny Box - Happy Hare provides this
# variable_zhop: 0
# variable_etemp: 0
# variable_efan: 0
# variable_echambertemp: 0
# gcode:
#     {% set e = params.E|default(150)|int %}
#     {% set tool_change = params.TOOL_CHANGE|default(0)|int %}
#
#
#     {% if printer['pause_resume'].is_paused|int == 1 %}
#         {% if printer.save_variables.variables.box_count >= 1 and printer.save_variables.variables.enable_box == 1 and printer.save_variables.variables.is_tool_change == 1 and printer["box_extras"]%}
#             SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
#             MOVE_TO_TRASH
#             {% if etemp > 0 %}
#                 M109 S{etemp|int}
#             {% endif %}
#             M83
#             RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=200
#             RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=15
#             BASE_RESUME
#         {% else %}
#             SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
#             {% if etemp > 0 %}
#                 M109 S{etemp|int}
#             {% endif %}
#             {% if printer.save_variables.variables.box_count >= 1 and printer["box_extras"] %}
#                 SAVE_VARIABLE VARIABLE=retry_step VALUE=None
#             {% endif %}
#             M83
#             M106 S{efan}
#             {% if echambertemp > 0 %}
#                 M141 S{echambertemp|int}
#             {% endif %}
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F9000
#             G1 Y{printer['gcode_macro PRINTER_PARAM'].clear_y_position} F9000
#             {% if printer.extruder.can_extrude %}
#                 G91
#                 G1  E{e} F300
#                 G90
#             {% endif %}
#             {% if printer.save_variables.variables.box_count >= 1 and printer.save_variables.variables.enable_box == 1 %}
#                 BUFFER_MONITORING ENABLE=1
#             {% endif %}
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position + 20} F15000
#             G1 X{printer['gcode_macro PRINTER_PARAM'].clear_x_position} F5000
#             G1 Y{printer['gcode_macro PRINTER_PARAM'].clear_y_position - 50} F9000
#             RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=200
#             RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=15
#             BASE_RESUME
#             {% if tool_change == 0 %}
#                 ENABLE_ALL_SENSOR
#             {% endif %}
#         {% endif %}
#     {% endif %}
    

# [gcode_macro RESUME]  # Commented out for Bunny Box - Happy Hare provides this
# rename_existing: BASE_RESUME
# variable_zhop: 0
# variable_etemp: 0
# variable_efan: 0
# variable_echambertemp: 0
# gcode:
#     {% if printer['pause_resume'].is_paused|int == 1 %}
#         {% if printer.save_variables.variables.box_count >= 1 and printer["box_extras"] %}
#             {% if printer.save_variables.variables.enable_box == 1 %}
#                 TRY_RESUME_PRINT
#             {% else %}
#                 {% if printer['filament_switch_sensor filament_switch_sensor'].filament_detected == True %}
#                     RESUME_PRINT
#                 {% else %}
#                     M118 Please load filament
#                 {% endif %}
#             {% endif %}
#         {% else %}
#             {% if printer['filament_switch_sensor filament_switch_sensor'].filament_detected == True %}
#                 RESUME_PRINT
#             {% else %}
#                 M118 Please load filament
#             {% endif %}
#         {% endif %}
#     {% endif %}

[gcode_macro RESUME_1]
gcode:
    {% set extruder_temp = params.EXTRUDER|default(240)|int %}
    # QIDI box path (box_extras/RESUME_PRINT_1) removed; Happy-Hare handles the MMU.
    {% if printer['filament_switch_sensor filament_switch_sensor'].filament_detected == False %}
        M118 Please load filament
    {% endif %}
